@model DiscountViewModel

@{
    ViewData["Title"] = "İndirim Kuponları";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h5>@ViewBag.MainTitle</h5>
        <div class="row">
            @if (Model.DiscountDataList != null)
            {
                @if (Model.DiscountDataList.Count() > 0)
                {
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                @* <div class="card-title">İndirim Listesi</div> *@
                            </div>
                            <div class="card-body">
                                @if (Model.HttpResponseMessage != 0)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="alert alert-danger">@Model.HttpResponseMessage</p>
                                        </div>
                                    </div>
                                }
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Başlık</th>
                                            <th scope="col">Açıklama</th>
                                            <th scope="col">Miktar</th>
                                            <th scope="col">Geçerlilik Tarihi</th>
                                            <th scope="col">Durumu</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DiscountDataList)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.Description</td>
                                                <td>@item.Amount</td>
                                                <td>@item.LastDay</td>
                                                @if (item.IsActive)
                                                {
                                                    <td><div class="badge badge-success">Aktif</div></td>
                                                }
                                                else
                                                {
                                                    <td><div class="badge badge-danger">Pasif</div></td>
                                                }
                                                <td>
                                                    <a href="/admin/discount/delete?id=@item.DiscountID" class="btn btn-outline-danger"><i class="la la-trash"></i></a>
                                                    <a href="/admin/discount/update/@item.DiscountID" class="btn btn-outline-info"><i class="la la-edit"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-info w-100 text-center">Henüz Kayıtlı Bir İndirim Bulunmuyor!</div>
                }

                <a href="/admin/discount/create" class="btn btn-success"><i class="la la-plus"></i> Yeni İndirim Ekle</a>
            }
            else
            {
                <div class="alert alert-danger w-100 text-center">@Model.HttpResponseMessage !</div>
            }
        </div>
    </div>
</div>