@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yeni Kullanıcı Kayıt İşlemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
    <link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/colorlib-regform-32/images/Sauce1.jpg" alt="form" style="width:484px; height: 654px;">
            </div>
            <form id="AddNewUserForm" class="form-detail" asp-controller="Register" asp-action="Index" method="post">
                <h2>Kayıt İşlemi</h2>
                <div class="form-row">
                    <input asp-for="@Model.RegisterProperty.Name" type="text" id="full-name" class="input-text" placeholder="Adınız" required>
                </div>
                <div class="form-row">
                    <input asp-for="@Model.RegisterProperty.Surname" type="text" id="full-surname" class="input-text" placeholder="Soyadınız" required>
                </div>
                <div class="form-row">
                    <input asp-for="@Model.RegisterProperty.Username" type="text" id="full-username" class="input-text" placeholder="Kullanıcı Adınız" required>
                </div>
                <div class="form-row">
                    <input asp-for="@Model.RegisterProperty.Email" type="text" id="your-email" class="input-text" placeholder="E-Posta" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                </div>
                <div class="form-row">
                    <input asp-for="@Model.RegisterProperty.Password" type="password" id="password" class="input-text" placeholder="Şifreniz" required>
                </div>
                <div class="form-row-last">
                    <input type="submit" class="register" value="Kayıt Ol">
                    <a href="/login" class="btn btn-primary">Giriş Yap</a>
                </div>
            </form>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>